<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h2 class="text-xs-center">Изменить данные кандидата</h2>
        <form [formGroup]="form" (ngSubmit)="Submit()">
          <fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="ФИО" formControlName="FullName"/>
            </fieldset>
            <fieldset class="form-group">
              <input type="date" class="form-control form-control-lg" placeholder="Дата рождения" formControlName="BirthDate"/>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Название ВУЗА" formControlName="UniversityName"/>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Курс" formControlName="Course"/>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Факультет" formControlName="Faculty"/>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Контактный телефон" formControlName="PhoneNumber"/>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Email" formControlName="Email"/>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Информация о себе" formControlName="Description"/>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Кем изменено" formControlName="ChangeUser"/>
            </fieldset>
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Изменить</button>
        </form>
      </div>
    </div>
  </div>
</div>

